regex == 2023.3.23
requests == 2.25.1
BeautifulSoup4 == 4.10.0
urllib3 == 1.26.5
asyncio == 3.4.3
aiohttp == 3.8.4
certifi == 2020.6.20
aiohttp_socks == 0.8.0
pysimplegui == 4.60.4
numpy == 1.24.2
scikit-learn == 1.2.2
pandas == 2.0.0
